[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
lightgbm = {extras = ["scikit-learn"], version = "*"}
graphviz = "*"
catboost = "*"
jinja2 = "*"
imbalanced-learn = "*"

[dev-packages]
ipykernel = "*"
tensorboard = "*"

[requires]
python_version = "3.10"
